.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main h1 {
  margin-top: -50px;
}
.main h3 {
  cursor: pointer;
  color: rgba(0, 0, 255, 0.486);
}
.main h3:hover {
  font-size: 19px;
  color: rgba(0, 0, 255, 0.822);
}
